
a, a:focus, a:hover {
  color: #fff;
}

html {
  height: 100%;
  min-width: 1030px;
}

#about {
  min-width: 800px;
}

#footer {
  top: 100%;
}

#junk {
  text-align: center;
}

#youtube_videos {
  visibility: hidden;
  height: 0px;
}

body {
  display: grid;
  height: 100%;
  width: 100%;
  min-width: 1000px;
  background-color: white;
  justify-content: center;
}

main {
  background-color: white;
}

#about_me {
  justify-content: center;
}

#console_text_1, #console_text_2, #console_text_3, #console_text_4, #console_text_5 {
  font-size: xx-small;
}

#console_text_6 {
  font-size: x-large;
}

.logo_container > :first-child ~ * {
  position: absolute;
  top: 30%;
  right: 0;
  bottom: 0;
  left: 43%;
}

.line-devices5 {animation:line-devices5 4s -2s infinite; stroke-dasharray: 240; stroke-dashoffset: 240;}
@keyframes line-devices5 {
  20%{stroke-dashoffset: 240;}
  60%{stroke-dashoffset: 0;}
  100%{stroke-dashoffset: 0;}
}
@media (prefers-reduced-motion: reduce) {
  .line-devices5 {
    animation: none;
  }
}

.line-movie-reel1 {
  animation:line-movie-reel1 2s linear infinite; transform-origin: 49.5px 50.5px;
}

@keyframes line-movie-reel1 {
  100%{transform: rotate(360deg);}
}

@media (prefers-reduced-motion: reduce) {
  .line-movie-reel1 {
    animation: none;
  }
}

/* This only changes this particular animation duration */
.animate__animated.animate__bounce {
  --animate-duration: 2s;
}

/* This changes all the animations globally */
:root {
  --animate-duration: 800ms;
  --animate-delay: 0.9s;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

#navbar {
  overflow: hidden;
  background-color: transparent;
  padding-top: 100px;
  z-index: 3;
}

.icon {
  min-width: 40px;
}

#third_icon {
  padding-top: 0px;
  background-color: transparent;
  border-radius: 30px;
  opacity: 100%;
}

#fourth_icon {
  padding-top: 0px;
  background-color: transparent;
  border-radius: 30px;
  opacity: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

#content_box {
  visibility: hidden;
}

#content_row {
  height: 0px;
}

.terminal_holder {
  margin-left: -50%;
  z-index: 1;
  background-color: transparent;
  
}

#terminal {
  visibility: hidden;
  background-color: transparent ;
  z-index: 3;
  height: 30%;
  position: absolute;
  z-index: 2;
  width: 27%;
  top: 44%;
  left: 36%;
}

#svg { 
	position: relative;
	top: 0;
  right: 0px;
  margin-right: -50%;
  background-color: transparent;
  z-index: 1;
}

#canv {
  background-color: transparent;
  position: fixed;
  height: 100%;
  width: 100%;
  visibility: visible;
  /* z-index: 1; */
}

#whale {
  height: 99.5%;
  width: 100%;
  position: fixed;
  z-index: 0;
  }
